html {
      height: 100%;
    }
    body {
       width: 100%;
       height: 100%;
       background-color: #CBCDE5;
    }

    header {
        background-color: #9BE9E9;
        padding: 5px;
        text-align: center;
        border: 3px dashed #469EBA;
        font-size: 24pt;
        display: block;
        font-family: Garamond;
    }
    nav {
        float: left;
    }
    nav ul {
        padding: ;
        float: left;
        list-style-type: none;
    }
    nav li {
        float: center;
        border: 2px dashed #469EBA;
        background-color: #CBE5DC;
    }
    nav li a {
        display: block;
        height: 25px;
        padding: 12px 18px 8px 18px;
        vertical-align: middle;
    }
    a {
        color: #FF5FAA;
    }
    section {
        width: 80%;
        background-color: #8A85E8;
        display: inline-block;
        text-align: center;
}
    h2 {
        font-size: 22pt;
        border: 1px solid white;
        text-align: center;
        font-family: Garamond;

}
    h3{
        text-decoration: underline;
    }
    aside {
        width: 17%;
        display: inline-block;
        background-color:;
        padding:;
        min-height: 100%;
    }
    aside ul {
        list-style-type: none;
    }
    footer {
        width: 790px;
        background-color:;
        color:;
        clear: both;
        display: block;
    }
